*.class

# Package Files #
*.jar
!3_5-bean-validation-egentrening/BeanValidationTester-1.0-SNAPSHOT.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml
target

#jpa egentrening
4_7-jpa-egentrening/src/main/java/no/nith/pg5100/db/entity/*
4_7-jpa-egentrening/src/test/java/no/nith/pg5100/db/JpaTest.java